.container {
    width: 80%;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

@media screen and (min-width: 760px) {
    .login-form {
        width: 40%;
        margin: auto;
        padding: 30px;
    }
    .login-buttons {
        width: 100%;
        margin: auto;
    }
}

.login {
    margin: auto;
    width: 100%;
}

.login p {
    font-size: 11px;
}

.login-form {
    margin: auto;
    padding: 30px;
}

.login-buttons {
    margin: auto;
}

.errors {
    color: red;
    font-size: 12px;
}

dd {
    margin-left: 5px;
}

input {
    height: 30px;
}

.intro {
    text-align: center;
    padding-top: 13%;
    padding-bottom: 13%;
    margin-bottom: 50px;
    background: url("landing.jpg") center center fixed;
}

.intro h1 {
    font-weight: 900;
    text-transform: uppercase;
}

.intro h5 {
    text-transform: uppercase;
    background-color: #f5f5f5;
    padding: 10px;
    color: #333333;
    display: inline-block;
    font-size: 1.2rem;
}

.active ul {
    top: auto !important;
}

#slide-out {
    background-color: darkslategray;
    overflow-y: hidden;
}

.side-nav a {
    padding: none;
    margin-left: 30px;
}

.side-nav li {
    list-style: none;
}

.header-dropdown {
    top: auto !important;
}

.header-dropdown .dropdown-pic img {
    border-radius: 50%;
}

.header-dropdown .dropdown-pic {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 20px;
    margin: auto;
    width: 80%;
}

.book-image {
    width: 100px;
    height: 150px;
}

.side-nav {
    top: 0;
    left: 0;
}

.rounded-image {
    border-radius: 50%;
}

.profile {
    width: 128px;
    height: 128px;
}

.header-profile {
    width: 36px;
    height: 36px;
}

.center-form {
    margin: auto;
    width: 80%;
}

.hidden {
    visibility: hidden;
    display: none;
}

#edit-profile {
    padding: 20px;
}

#show-profile {
    padding-top: 30px;
    margin: auto;
}