<!DOCTYPE html>

<head>
    <title>{{title}} - Library Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/lib/materialize.min.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/admin/style.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery-2.2.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/materialize.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js')}}"></script>
</head>

<body style="background-color: #292A2C;">
    <header style="background-color: #292A2C;">
        <nav class="lime lighten-2">
            <!--<div class="container">-->
            <div class="nav-wrapper" style="background-color: white; ">
                <a href="{{ url_for('admin.index')}}" class="brand-logo center" style="color: black;"> Sprade Edcation </a>
            </div>
            <!--</div>-->
        </nav>
    </header>
    <main  style="background-color: #292A2C;">
        <ul id="slide-out" class="side-nav fixed" style="background-color: #292A2C;">
            <li>
                <div class="userView">
                    <img class="background">
                    <a href="#!user">
                        {% if not user.imagepath %}
                        <img class="rounded-image profile" src="{{user.avatar(user.email, 128)}}" />
                        {% endif %}

                        {% if user.imagepath %}
                        <img class="rounded-image profile" src="{{user.imagepath}}" />
                        {% endif %}
                    </a>
                    <a href="#!name"><span class="white-text name">{{user.firstname}} {{user.lastname}} ({{user.role}})</span></a>
                    <a href="#!email"><span class="white-text email">{{user.email}}</span></a>
                </div>
            </li>
            <li><a class="modal-trigger waves-effect waves-light" href="{{ url_for('admin.index')}}">UNRETURNED BOOKS</a></li>
            <li><a class="modal-trigger waves-effect waves-light" href="{{ url_for('admin.members')}}">MEMBERS</a></li>
            <li><a class="modal-trigger waves-effect waves-light" href="{{ url_for('admin.books')}}">BOOKS</a></li>
            <li><a class="modal-trigger waves-effect waves-light" href="{{url_for('admin.addbook')}}">ADD A BOOK</a></li>
            <li><a class="modal-trigger waves-effect waves-light" href="{{ url_for('admin.createcategory')}}">CREATE CATEGORY</a></li>
            <li><a class="modal-trigger waves-effect waves-light" href="{{ url_for('admin.categories')}}">CATEGORIES</a></li>
            <li><a class="modal-trigger waves-effect waves-light" href="{{ url_for('admin.logout')}}">LOGOUT</a></li>
        </ul>
        {% block content %} {% endblock %}
    </main>

</body>

</html>