{% extends "public/base.html" %} {% block content %}

<html>
<head>
    <title>{{title}} - Spread Education</title>

</head>
<style>

  .blocks {
    display: flex;
    flex-flow: row wrap;
}

.block {
    flex: 1 1 calc(50% - 1rem);
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 1rem 1rem 3rem;
    position: relative;

    .block:nth-child(even) {
        margin-right: 0;
    }

    @media screen and (min-width: 60em) {
        flex: 1 1 calc(25% - 1rem);
        overflow: hidden;

        &:nth-child(even) {
            margin-right: 1rem;
        }

        &:nth-child(4n) {
            margin-right: 0;
        }

    }
}

/* Boring non-layout styling */

html {
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
}

body {
    background-color: #ccc;
    margin: 1rem;
}

.block {
    background: #fff;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;

    img {
        max-width: 100%;
    }

    h1 {
        color: #444;
        font: 1.6666em/1 normal 'Open Sans', helvetica, arial;
        margin-bottom: 0;
    }

    p {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .read-more {
        display: inline-block;
        position: absolute;
        bottom: 1rem;
        padding: .5rem 1rem;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        background: #2c212e;
        border-radius: 2px;
        width: calc(100% - 2rem);
        margin: 0 auto;
        left: 0; right: 0;
        font-size: 14px;

    }
}
</style>
<body>

<section class="blocks">

  <article class="block">
    <img src="https://images-na.ssl-images-amazon.com/images/I/41%2BaN7ZbS9L._SX327_BO1,204,203,200_.jpg" alt="Howdy">
    <div class="block-label">
        <h1>First Headline</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente inventore placeat perferendis&#160;asperiores.</p>
        <a href="#" class="read-more">Read More</a>
    </div>
  </article>


</section>
</body>

</html>