<!DOCTYPE html>

<head>
    <title>{{title}} - Spread Education</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/lib/materialize.min.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/sweetalert.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery-2.2.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/materialize.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js')}}"></script>
    <script src="{{ url_for('static', filename='js/lib/sweetalert.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/app.js')}}"></script>
</head>
<style>
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

</style>
<body>
<header class="header">
  <a href="{{ url_for('public.index')}}" class="logo">Spread Education</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="{{ url_for('public.index') }}">Home</a></li>
    <li><a href="{{ url_for('public.books') }}">Books</a></li>
     {% if g.user.is_authenticated == False %}

    <li><a href="{{ url_for('public.login') }}">Login</a></li>
    <li><a href="{{ url_for('public.register') }}">Sign up</a></li>
      {% endif %} {% if g.user.is_authenticated %}
           <li>
                            <a class="dropdown-button" href="#!" data-activates="dropdown-home-menu">
                                Welcome {{user.firstname}}
                                <i class="material-icons right">arrow_drop_down</i>
                            </a>
                            <ul id="dropdown-home-menu" class="header-dropdown dropdown-content active">
                                <li class="dropdown-pic">
                                    {% if not user.imagepath %}
                                    <img class="circle header-profile" src="{{user.avatar(user.email, 72)}}" />
                                    {% else %}
                                    <img class="circle header-profile" src="{{user.imagepath}}" />
                                    <i class="material-icons right">arrow_drop_down</i>
                                    {% endif %}
                                </li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('public.dashboard')}}">Dashboard</a></li>
                                <li class="divider"></li>
                                <li><a href="{{url_for('public.profile')}}">Profile Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('public.logout')}}">LOGOUT</a></li>
                            </ul>
                        </li>
                        {% endif %}

  </ul>
</header>
    <main>
        {% block content %} {% endblock %}
    </main>
</body>

</html>