<!DOCTYPE html>

<head>
    <title>{{title}} - Library Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/lib/materialize.min.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/sweetalert.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery-2.2.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/materialize.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js')}}"></script>
    <script src="{{ url_for('static', filename='js/lib/sweetalert.min.js')}}"></script>
    <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/fbauth.js')}}"></script>

</head>

<body>
    <header>
        <nav class="lime lighten-2">
            <div class="nav-wrapper container">
                <a href="{{ url_for('public.index')}}" class="brand-logo center"> BOOKIE'S HUB </a>
                <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('public.index')}}">HOME</a></li>
                </ul>
                <ul id="mobile-nav" class="side-nav">
                    <li><a href="{{ url_for('public.index')}}">HOME</a></li>
                </ul>
            </div>
        </nav>
        <div style="margin: 10px;">
        </div>
    </header>
    <main>
        {% block content %} {% endblock %}

    </main>

</body>

</html>